.idea/
bin/
obj/
files-kontur/
packages/
*.user
AssemblyTitle.cs
.vs/Cement.Net/v14/.suo
.vs/
releases/
server.lnk
deploy.bat
.idea/
Cement.Net/Properties/
/files-common/linux-x64/*
/files-common/osx-x64/*
/files-common/win10-x64/*
