skip_branch_with_pr: true
version: 1.0.{build}-{branch}
image: Visual Studio 2015
install:
  - nuget restore
configuration: Debug
before_build:
  - git config --global user.name "John Doe"
  - git config --global user.email johndoe@example.com
build:
  verbosity: normal