<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyGelf.Log4Net" version="0.4.4.53" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="4.1.0" targetFramework="net45" />
</packages>